@import "src/@fuse/scss/fuse";
.confirmation-dialog {
  .mat-dialog-container {
    padding: 0 !important;
    border-radius: 10px;
  }
  .hbgg {
    background-color: #006666 !important;
  }
  .hbg {
    color: #006666 !important;
  }
  .hbo {
    color: #f89406 !important;
  }
}
